<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="/public/css/reset.css"> -->
  <title>个人中心</title>
</head>
<body>
  <h1>个人中心{{ name }}--{{ test }}</h1>
  <a href="/">去首页</a>
  <a href="/kind">去分类页面</a>
  <a href="/cart">去购物车页面</a>
  <a href="/user">去个人中心页面</a>
  <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
  <script>
    axios.get('http://localhost:7001/test', { params: { name: '郭炯韦', age: 20 }}).then(res => {
      console.log(res)
    })
  </script>
</body>
</html>